<?xml version="1.0" encoding="utf-8"?>
<!-- Applied when building Debug configuration in Visual Studio. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppEnvironment" value="Development" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LastRestart" value="2026-05-22-dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Replace" />
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed" xdt:Transform="Replace" />
  </system.webServer>
</configuration>
