<?xml version="1.0" encoding="utf-8"?>
<!-- Applied when building Release / syncing to Publish\. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppEnvironment" value="Remote/Dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LastRestart" value="2026-05-25-debug" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExternalBaseUrl" value="https://nanosoft.africa/Hirehub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Home/Error" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Account/Login"/>
      <error statusCode="500" redirect="~/Home/Error"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0" xdt:Transform="SetAttributes(debug,targetFramework)" />
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" errorMode="Detailed" xdt:Transform="Replace" />
  </system.webServer>
</configuration>
