<?xml version="1.0" encoding="utf-8"?>
<!-- Applied when building Release / syncing to Publish\. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AppEnvironment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LastRestart" value="2026-09-03-prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExternalBaseUrl" value="https://nanosoft.africa/Hirehub" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Home/Error" redirectMode="ResponseRewrite" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Home/NotFound"/>
      <error statusCode="500" redirect="~/Home/Error"/>
    </customErrors>
    <compilation debug="false" targetFramework="4.0" xdt:Transform="SetAttributes(debug,targetFramework)" />
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" errorMode="Custom" xdt:Transform="Replace">
      <remove statusCode="404"/>
      <error statusCode="404" path="/Home/NotFound" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>
